* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-family: 'Lato', sans-serif;
    font-family: 'PT Sans', sans-serif;;
}

img {
    width: 100%;
    border-radius: 50%;
}

.image {
    width: 60px;
    aspect-ratio: 1;

}

/* #region Color */

:root {
    --color-marine: #009688;
    --color-sky: #8edafc;
    --color-green: #d5f9ba;
    --color-light-dark: #b9b6b4;
    --color-light: #f3eeea;
    --color-dark: #6b7376;
}


/* #endregion Color */


.contenitor {
    width: 80%;
    margin: auto;
    max-width: 1900px;
    border: 1px solid;
    height: 100%;
    overflow-y: auto;
}

.wrapper {
    height: 100vh;

}

.row {
    display: flex;
    flex-wrap: wrap;
    height: calc((100vh - 140px - 40px));
}

.col-12 {
    width: calc((100% / 12) * 12);

}

.col-4 {
    width: calc((100% / 12) * 4);
    border-right: 2px solid;

}

.col-8 {
    width: calc((100% / 12) * 8);

}

.user_0,
.user_2 {
    height: 70px;
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 10px;
}

.user_1,
.user_3 {
    padding: 5px;
    background-color: var(--color-sky);
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
}




.right {
    width: 70%;
    margin-left: auto;
    background-color: var(--color-green);
    max-width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;

}

.left {
    width: 70%;
    background-color: var(--color-green);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;

}

.section_message {
    padding: 20px;
    background-image: url(./img/mine.jpg);
}

.user_1>.bell {
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    color: var(--color-sky);
    
}

.function {
    font-size: 25px;
    color: var(--color-light-dark);
}

.search{
    padding: 10px;
    width: 100%;
    background-color: white;
}
/* #region Media */

@media screen and (max-width:991px) {
    .col-1-tablet {
        width: calc((100% / 12) * 1);

    }

    .col-11-tablet {
        width: calc((100% / 12) * 11);

    }

    .function {
        display: none;
    }

    .user_1, .user_2 {
        display: none;
    }
}

@media screen and (max-width:540px) {
    .col-12-mobile {
        width: calc((100% / 12) * 12);

    }

    .col-1-tablet {
        display: none;
    }
}

/* #endregion Media */